<p id="notice"><%= notice %></p>

<table id="listtab"  class="stripe" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th>Rep</th>
      <th>Customer</th>
      <th>Ship to</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @fs_orders.each do |fs_order| %>
      <tr>
        <td><%= fs_order.rep %></td>
        <td><%= fs_order.customer %></td>
        <td><%= fs_order.shipto %></td>
        <td><%= display_date(fs_order.date_required) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Next', fs_orders_find_path, class: "btn btn-primary" %>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
